<mdb-carousel [controls]="true" [animation]="'fade'">
  <mdb-carousel-item>
    <img
      src="assets/flat-lay-real-estate-concept.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Fundo de Investimento Imobiliário</h1>
      <p>O Fundo de Investimento Imobiliário (FII) é uma comunhão de recursos destinados à aplicação em ativos relacionados ao mercado imobiliário.</p>
    </div>

  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/laptop-with-piggy-bank-growth-chart.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Tesouro Direto</h1>
      <p>Tesouro Direto é um programa da Secretaria do Tesouro Nacional do Brasil lançado em 7 de janeiro de 2002 em parceria com a B3 com o objetivo de democratizar a compra e venda de títulos públicos federais para pessoas físicas de forma 100% online.</p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="assets/hand-putting-coin-piggy-bank-growth-chart.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <h1>Poupança</h1>
      <p>Poupança é uma opção segura, acessível e adequada a todos os perfis, desde os pequenos poupadores a grandes investidores. Além de ser garantida pelo governo, a poupança tem suas regras de funcionamento definidas pelo Banco Central.</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
