.carousel-caption{
  position: absolute;
  bottom: 1.25rem;
  left: 20%;
  top: 30%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: left;
  width: 30%;
  font-family: 'Roboto';

  h1{
    color: #d5c527;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px
  }

  p{
    font-size: 20px;
    font-weight: 400;
  }

  }
