
<p>
  <mat-toolbar id="menu" class="toolBar">
    <img width="80px" src="/assets/logo.png" alt="logo">
    <div class="pages">
    <span class="pageLink">Simuladores</span>
    <span class="pageLink">Como usar</span>
    <a href="#sobre" class="pageLink" >Sobre nós</a>
  </div>
  </mat-toolbar>
</p>

<app-carousel></app-carousel>

<div id="sobre" class="container-fluid min-vh-100">


</div>

<div class="container-fluid min-vh-100 white"></div>

<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>assine a nossa newsletter</strong>
            </p>
          </div>

          <div class="col-md-5 col-12">

            <mdb-form-control class="form-white mb-4">
              <input mdbInput type="email" id="form5Example28" class="form-control" />
              <label mdbLabel class="form-label" for="form5Example28">Email</label>
            </mdb-form-control>
          </div>

          <div class="col-auto">
            <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
              assinar
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">BulldogInvestimentos.com</a>
  </div>
</footer>
